<ion-modal-view class="cart">
    <ion-header-bar>
      <h1 class="title">{{views.cart}}</h1>
      <div class="buttons">
         <a class="button button-icon icon ion-android-close" ng-click="closeCart()"></a>
     </div>
    </ion-header-bar>
    <ion-content>
        <div class="empty padding" ng-if="cartItems.length <= 0">{{empty_cart}}</div>
        <div class="list">
            <div class="item item-thumbnail-left" ng-repeat="cartItem in cartItems">
                <img ng-src="{{cartItem.images[0].src}}" alt="" ui-sref="app.product({id:cartItem.id})" ng-click="closeCart()">
                <h2 class="title" ui-sref="app.product({id:cartItem.id})" ng-click="closeCart()">{{cartItem.title}}</h2>
                <h3 class="price" ui-sref="app.product({id:cartItem.id})" ng-click="closeCart()" ng-bind-html="cartItem.price_html"></h3>
                <span class="categorie" ui-sref="app.product({id:cartItem.id})" ng-click="closeCart()" ng-repeat="cartCategorie in cartItem.categories">{{cartCategorie}}<span ng-if="$index < cartItem.categories.length-1">, </span></span>
                <a class="button button-icon icon ion-ios-minus-outline remove-btn" ng-click="removeFromCart(cartItem)"></a>
            </div>
        </div>
        <div class="total padding text-right" ng-if="cartLength > 0">
            <span>Total: <strong><span ng-bind-html="currency"></span>{{cartTotal}}</strong></span>
        </div>
        
        <div class="row" ng-if="cartLength > 0">
            <div class="col-50 col">
                <button class="button button-block button-stable icon-right ion-card checkout-btn" ng-click="checkout()">
                Checkout
                </button>
            </div>
            <div class="col-50 col">
                <button class="button button-block button-stable empty-btn" ng-click="emptyCart()">
                Empty cart
                </button>
            </div>
        </div>
        
    </ion-content>
</ion-modal-view>