<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-bag" ng-click="openCart()"><span class="cart-number" ng-class="isOverflow(cartLength)">{{cartLength}}</span></button>
      </ion-nav-buttons>
      
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">   
     
      <ion-content has-header="true">
          <ion-list>
            <ion-item menu-close ui-sref="app.home" class="home">
              Home
              <i class="icon ion-android-home"></i>
            </ion-item>
            <div ng-repeat="menuItem in menu_categories">
              <div class="without-children" ng-if="menuItem.children.length <= 0">
                <ion-item menu-close ui-sref="app.shop({categorie:menuItem.name})">{{menuItem.name}}</ion-item>
              </div>
              <div class="with-children" ng-if="menuItem.children.length > 0">
                <ion-item ng-click="toggleMenu(menuItem)" ng-class="{active:isShown(menuItem)}">
                  {{menuItem.name}}
                  <i class="icon ion-ios-arrow-down"></i>
                </ion-item>
                <ion-item ng-show="isShown(menuItem)" class="item-accordion" ng-repeat="childItem in menuItem.children" menu-close ui-sref="app.shop({parent:menuItem.name,categorie:childItem.name})">
                  {{childItem.name}}
                </ion-item>
              </div>
            </div>  
          </ion-list> 
      </ion-content>
  </ion-side-menu> 

</ion-side-menus>
