<ion-view view-title="{{product.title}}">
<ion-content class="product-page">
    <ion-slide-box show-pager="true" class="product-slider">
        <ion-slide ng-repeat="image in product.images" on-finish-render="ngRepeatFinished">
            <div class="product-image" ng-style="{'background-image': 'url(' + image.src + ')'}" ng-click="showGallery(product.images,$index)"></div>
        </ion-slide>
    </ion-slide-box>
    <div class="information" ng-if="finishedLoading == true">
        <div class="row">
            <div class="col col-75">
                <h2 class="title">{{product.title}}</h2>             
            </div>
            <div class="col text-right">               
                <span class="in-stock" ng-if="product.in_stock == true">in stock</span>
            </div>
        </div>    
        <div class="text-center">
            <div class="price-wrapper"><span class="price"><span data-ng-bind-html="currency"></span>{{product.price}}</span></div>
            <div ng-if="product.on_sale == true"><del><span data-ng-bind-html="currency"></span>{{product.regular_price}}</del></div>
        </div>
        <div class="row">
            <div class="col-60 col">
                <button class="button button-block button-small button-stable icon-left ion-bag cart-btn" ng-click="addToCart(product)">
                Add to cart
                </button>
            </div>
            <div class="col text-right">
                <button class="button button-block button-small button-stable buy-btn">
                Buy Now
                </button>
            </div>
        </div>
    </div>
    
    <div class="item item-body">
        <span ng-bind-html="product.description"></spanp>
    </div>
    <div class="item item-icon-left product-categories" ng-if="finishedLoading == true">
        <i class="icon ion-ios-pricetags-outline"></i>
        <a ng-repeat="productCategorie in product.categories" ui-sref="app.shop({categorie:productCategorie})">{{productCategorie}}<span ng-if="$index < product.categories.length-1">, </span></a>
    </div>
</ion-content>
</ion-view>